@media screen and (max-width: 900px) {
    html {
        font-size: 57.5%;
    }
}

@media screen and (max-width: 540px) {
    html {
        font-size: 52%;
    }

    #repo-info {
        margin: 2rem;
        padding: 1rem;
    }
}