@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(26, 30, 34);
}

#container {
    font-family: 'Nunito Sans', sans-serif;

}

#main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    padding-top: 8rem;
    text-align: center;
}

.main-heading {
    font-size: 6rem;
    margin: 1rem 0;
}

#input {
    width: 40rem;
    height: 5rem;
    border-radius: 5px;
    margin: 1rem 0;
    font-size: 2.5rem;
    font-family: 'Gentium Book Plus', serif;
    border: none;
}

#btn {
    width: 10rem;
    height: 4rem;
    padding: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    color: white;
    background-color: #006d32;
    border-radius: 10px;
    font-size: 1.5rem;
    font-family: 'Gentium Book Plus', serif;
}

#input:focus {
    outline: 2px solid rgb(17, 178, 228);
}

#personal-info-wrapper {
    display: none;
    background-color: rgb(26, 30, 34);
    width: 100%;
    height: 50rem;
}

#personal-info {
    margin: 0 auto;
    width: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 5rem;
}

.user-avatar {
    width: 15rem;
    height: 15rem;
    border: 8px solid green;
    border-radius: 100px;
    overflow: hidden;
}

.user-avatar img {
    width: 101%;
    height: 101%;
}

.user-name {
    font-size: 4rem;
    margin: 1rem 0;
}

.user-login a {
    text-decoration: none;
    color: rgb(2, 137, 255);
    font-size: 3rem;
    margin: 1rem 0;
}

.user-login a:hover {
    text-decoration: underline;

}

.info {
    display: flex;
    font-size: 1.5rem;
    gap: 3rem;
    margin: 1rem 0;
}

.profile-stats {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: center;
    gap: 3rem;
    justify-content: center;
}

.ps-card {
    width: 15rem;
    height: 7rem;
    background-color: #4a4a4a;
    border-radius: 5px;
    padding: 1rem;
}

#repo-info-wrapper {
    background-color: rgb(26, 30, 34);
    height: 100%;
    width: 100%;
    display: none;
}

#repo-info {
    margin: 5rem 5rem 2rem 5rem;
    padding: 2rem;
    background-color: #f6f8fa;
}

.repo-header {
    display: flex;
    width: 100%;
}

.second-heading {
    font-size: 3rem;
    margin: 1.5rem;
    border-bottom: 2px dashed;
}

.repo-input {
    margin: 1rem;
}

.repo-input>span {
    font-size: 2rem;
}

#repo-sort-items {
    font-size: 2rem;
    font-family: 'Gentium Book Plus', serif;
    margin: 1rem;
    width: 10rem;
    height: 3.5rem;
    background: #ddebfb;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0 1rem;
}

#repo-info-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    list-style: none;
    justify-content: space-evenly;
}

.card {
    text-decoration: none;
    display: flex;
    -moz-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem;
    width: 35rem;
    height: 100%;
    color: rgb(88, 96, 105);
    background-color: rgb(255, 255, 255);
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 30px -15px;
    transition: all 200ms cubic-bezier(0.23, 1, 0.32, 1) 0s;
    overflow: hidden;
}

.card:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 10px -7px;
}

.repo-title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgb(2, 137, 255);
}

.repo-desc {
    font-size: 1.5rem;
}

.repo-details {
    height: 15rem;
}

.repo-properties {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.4rem;
}

.repo-prop-left {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}


.alert {
    font-size: 2rem;
    color: red;
}

.footer .credit {
    padding: 1rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    background-color: black;
    text-transform: capitalize;
}

.footer .credit a {
    color: yellow;
    text-decoration: none;
}

.footer .fa-heart {
    color: #e90606;
    margin: 0 0.3rem;
    font-size: 1.5rem;
    animation: pound 0.35s infinite alternate;
}

@-webkit-keyframes pound {
    to {
        transform: scale(1.1);
    }
}

@keyframes pound {
    to {
        transform: scale(1.1);
    }
}